
<% @projects.each do |project| %>
  <div>
    <%= project.name %>
    <%= project.description %>
    <%= project.product_type %>
    <%= project.currency %>
    <%= project.price %>
  </div>
<% end %>